@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    td,th{
        padding:15px;
        
    }
    a{
        text-decoration:none;
    }
</style>
<table border="1" >
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Make</th>
            <th>Genre</th>
            <th>Price</th>
            <th>Description</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody >
        
            @foreach (Game item in Model)
            {
            <tr >
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Make.Id</td>
                <td>@item.Genre</td>
                <td>@item.Price</td>
                <td>@item.Description</td>
                <td>@item.Image</td>
                <td><a href="/Games/Edit/@item.Id">Edit</a></td>
                <td><a href="/Games/Remove/@item.Id"> Remove</a></td>
            </tr>
            }
        
    </tbody>
</table>
<a asp-controller="Games" asp-action="Add">Add a Game</a>
